/* CSS Document */

.clear {
	clear: both;
}

/* page*/
.pagebg {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

/* navigator*/
.navigbg {
	background-image: url(../images/ownphone.jpg);
	width: 100%;
	height: 300px;
	position: relative;
}

.navigtable1 {
	border: 0;
	border-spacing: 10px 0;
	position: absolute;
	top: 0;
	left: 80px;
}

.navigtable2 {
	width: 600px;
	border: 0;
	border-spacing: 10px 0;
	position: absolute;
	top: 0;
	left: 250px;
}

.tab1 {
	background-color: #ffffff;
	filter: Alpha(Opacity = 90);
	width: 150px;
	height: 100px;
	padding: 5px;
	font-size: 38px;
	color: #319ff3;
	text-align: center;
	font-family:华文行楷;
	font-weight:bold;
	border-radius: 0 0 25px 25px;
}

.tab1 a:link {
	color: #319ff3;
	text-decoration: none;
	padding: 10px;
}

.tab1 a:visited {
	color: #319ff3;
	text-decoration: none;
	padding: 10px;
}

.tab1 a:hover {
	color: #319ff3;
	text-decoration: none;
	font-size: 48px;
	font-style: italic;
	padding: 10px;
}

.tab2 {
	background-color: #ffffff;
	filter: Alpha(Opacity = 90);
	width: 90px;
	height: 60px;
	padding: 5px;
	font-size: 13px;
	color: #319ff3;
	text-align: center;
	font-weight:bold;
	border-radius: 0 0 20px 20px;
}

.tab2 a:link {
	color: #319ff3;
	text-decoration: none;
	padding: 5px;
}

.tab2 a:visited {
	color: #319ff3;
	text-decoration: none;
	padding: 5px;
}

.tab2 a:hover {
	color: #319ff3;
	text-decoration: none;
	font-size: 15px;
	font-style: italic;
	padding: 5px;
}

.navigtitle {
	background-color: #ffffff;
	filter: Alpha(Opacity = 90);
	border: 0;
	width: 350px;
	height: 60px;
	padding: 15px;
	font-size: 28px;
	text-align: center;
	color: #ff0000;
	position: absolute;
	bottom: 0;
	left: 15px;
}

.naviglogin {
	background-color: #ffffff;
	filter: Alpha(Opacity = 80);
	border: 0;
	height: 35px;
	padding: 0;
	font-size: 13px;
	text-align: center;
	color: #000000;
	position: absolute;
	bottom: 0;
	right: 15px;
	font-family: "宋体";
}

.navigcommonuser {
	background-color: #ffffff;
	filter: Alpha(Opacity = 80);
	border: 0;
	height: 35px;
	padding: 0;
	font-size: 13px;
	text-align: center;
	color: rgb(1, 44, 89);
	font-weight: bold;
	font-family: "微软雅黑";
	position: absolute;
	bottom: 0;
	right: 12px;
}

.navigadmin {
	background-color: #ffffff;
	filter: Alpha(Opacity = 80);
	border: 0;
	height: 35px;
	padding: 0;
	font-size: 13px;
	text-align: center;
	color: rgb(1, 44, 89);
	font-weight: bold;
	font-family: "微软雅黑";
	position: absolute;
	bottom: 0;
	right: 12px;
}

.navigloginfuction {
	color: #000000;
	font-weight: bold;
	font-family: "宋体";
}

.navigloginfuction a:link {
	color: #000000;
	text-decoration: none;
}

.navigloginfuction a:visited {
	color: #000000;
	text-decoration: none;
}

.navigloginfuction a:hover {
	background-color: #319ff3;
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
	font-size: 14px;
}

/* body */
.bodybg {
	background-color: #ffffff;
	width: 980px;
	height: 80%;
	border: 2px solid #d9d9d9;
	outline-style: solid;
	outline-color: #eeeeee;
	outline-width: 2px;
}

body {
	margin: 0;
	background-color: #ffffff;
}

#mainlayout {
	width: 100%;
	height: 100%;
}

.loginprompt {
	margin: 20px;
	font-size: 40px;
	color: #ff0000;
	font-family: "微软雅黑";
	text-align: center;
}

/* image */
img {
	border: 0;
}

/* tailer */
.tailer {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 153, 77);
	padding: 1px;
	font-size: 13px;
}

/* design your own phone page's table */
#designownphonelist {
	width: 550px;
	float: left;
	margin: 50px;
}

#designownphonelist ul{
	padding: 10px;
	list-style-type: none;
}

#keypad {
	margin: 20px 20px 60px 20px;
	display: block;
}

.keypadimg {
	margin-top: 20px;
	cursor: pointer;
}

#phonecolor {
	margin: 20px;
	display: none;
}

#phonecolorlist {
	margin: 20px;
}

#phonecolorlist li{
	width: 50px;
	height: 70px;
	margin: 20px 10px 80px 10px;
	float: left;
	cursor: pointer;
}

#phonecolorpink {
	background-color: rgb(236,0,140);
}

#phonecolorblue {
	background-color: rgb(32,114,181);
}

#phonecolorgreen {
	background-color: rgb(5,169,81);
}

#phonecolororange {
	background-color: rgb(244,116,33);
}

#phonecolorred {
	background-color: rgb(226,39,28);
}

#phonecolorblack {
	background-color: rgb(54,49,48);
}

#phonestyle {
	margin:20px 20px 60px 20px;
	display: none;
}

.phonestyleimg {
	margin: 20px 30px;
	cursor: pointer;
}

.openlist1 {
	cursor: pointer;
	margin: 2px;
	padding: 10px;
	color: #ffffff;
	background-color: rgb(0,133,63);
	border-radius: 15px 15px 5px 5px;
}

.openlist2 {
	cursor: pointer;
	margin: 2px;
	padding: 10px;
	color: #ffffff;
	background-color: rgb(0,133,63);
	border-radius: 5px;
}

.openlist3 {
	cursor: pointer;
	margin: 2px;
	padding: 10px;
	color: #ffffff;
	background-color: rgb(0,133,63);
	border-radius: 5px 5px 15px 15px;
}

#orderButton {
	cursor: pointer;
	margin: 2px;
	padding: 10px;
	color: #ffffff;
	background-color: rgb(0,133,63);
	width: 200px;
	float: right;
	display: none;
}

#orderButton h3{
	margin: 0;
	font-family: 微软雅黑;
	text-align: center;
}

#designownphonelist h1{
	font-family: 华文琥珀;
	text-align: left;
	font-size: 30px;
}

#designownphonelist h2{
	margin: 0;
	font-family: 方正姚体;
	text-align: left;
	font-size: 28px;
}

#designownphonelist h3{
	font-family: 微软雅黑;
	text-align: center;
}

.listcollapse {
	float: right;
}

#ownphoneorderform {
	margin: 20px;
	float: left;
	display: none;
}

#ownphoneorderform ul{
	list-style-type: none;
	text-align: left;
}

.ownphoneorderformlist1 {
	margin: 40px 20px;
	width: 550px;
	font-family: 方正姚体;
	font-size: 28px;
	color: rgb(236,0,140);
}

.ownphoneorderformlist2 {
	margin: 20px;
	font-family: 微软雅黑;
	font-size: 17px;
	color: #000000;
}

.ownphoneorderformlist2 li{
	margin: 10px;
}

.namesandnumberstb {
	text-align: left;
}

.namesandnumberstb th{
	text-align: center;
}

.namesandnumbersinput {
	display: none;
}

#ownphoneorderprice {
	color: #000000;
	font-size: 40px;
	text-align: center;
	font-family: 黑体;
}

#backandsubmitul {
	list-style-type: none;
	margin: 50px;
}

#gobacklist {
	cursor: pointer;
	float: left;
	width: 160px;
	padding: 10px;
	background-color: rgb(0,133,63);
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 28px;
	text-align: center;
}

#submitlist {
	cursor: pointer;
	float: right;
	width: 160px;
	padding: 10px;
	background-color: rgb(0,133,63);
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 28px;
	text-align: center;
}

#previewownphoneimg {
	float: right;
	padding: 90px 100px 90px 10px;
	width: 200px;
}

#previewownphoneimg h1{
	font-family: 微软雅黑;
	text-align: center;
	font-size: 30px;
}

.designtable {
	margin: 20px 20px 20px 20px;
	border: 5px solid rgb(175, 226, 105);
	font-size: 20px;
	color: #000000;
	font-family: "微软雅黑";
}

.designtable thead>tr>th{
	background-color: rgb(175, 226, 105);
	font-weight: bold;
	color: #ff00ff;
	font-family: 黑体;
	font-size: 30px;
}

/* modifyinfo page*/
.modifyinfolist {
	margin: 20px 50px;
	float: left;
	font-weight: bold;
	color: #0000aa;
	font-family: 微软雅黑;
	font-size: 18px;
	background-color: rgb(167, 232, 252);
	list-style-image: url(../images/animated_favicon.gif);
	list-style-position: inside;
	padding: 20px;
	height: 440px;
	outline: rgb(167, 232, 252) double 7px;
}

.modifyinfolist li{
	border-bottom: 2px dotted #ffffff;
	padding: 5px 0;
}

.modifyinfolist a {
	color: #0000aa;
	text-decoration: none;
}

.modifyinfolist a:link {
	color: #0000aa;
	text-decoration: none;
}

.modifyinfolist a:visited {
	color: #0000aa;
	text-decoration: none;
}

.modifyinfolist a:hover {
	background-color: #319ff3;
	color: #ffffff;
	text-decoration: none;
	font-style: italic;
}

#modifyinfoiframe {
	margin: 10px 20px;
	width: 65%;
	float: left;
}

.modifyaccountinfotable {
	margin: 50px 50px 50px 30px;
	border: 2px solid rgb(167, 232, 252);
	font-size: 20px;
	text-align: center;
	color: #000000;
	font-family: "微软雅黑";
}

table.modifyaccountinfotable thead>tr>th {
	padding: 10px;
	background-color: rgb(167, 232, 252);
	font-weight: bold;
	color: #ff00ff;
	font-family: 宋体;
	font-size: 25px
}

table.modifyaccountinfotable tbody>tr>td {
	padding: 5px
}

.modifyaccountpasswordtable {
	margin: 50px 50px 50px 30px;
	border: 2px solid rgb(167, 232, 252);
	font-size: 20px;
	text-align: center;
	color: #000000;
	font-family: "微软雅黑";
}

table.modifyaccountpasswordtable thead>tr>th {
	padding: 10px;
	background-color: rgb(167, 232, 252);
	font-weight: bold;
	color: #ff00ff;
	font-family: 宋体;
	font-size: 25px
}

table.modifyaccountpasswordtable tbody>tr>td {
	padding: 5px
}

/* register page */
.registertable {
	margin: 50px;
	border: 2px solid rgb(251, 181, 85);
	font-size: 15px;
	color: #000000;
	font-family: "微软雅黑";
}

table.registertable thead>tr>th {
	padding: 5px;
	background-color: rgb(251, 181, 85);
	font-weight: bold;
	color: rgb(18, 60, 135);
	font-family: 宋体;
	font-size: 25px
}

table.registertable tbody>tr>td {
	padding: 5px
}

.inputlabel {
	white-space: nowrap;
	color: rgb(105, 61, 103);
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	font-family: 宋体;
}

.inputfield {
	text-align: left;
}

.inputprompt {
	color: #880000;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	font-family: 宋体;
}

/* show result message page */
.message {
	font-size: 40px;
	color: #ff0000;
	font-family: "微软雅黑";
	text-align: center;
}

/* OwnPhoneOrder management */
.ownphoneorderlisttable {
	margin: 40px;
	border-collapse: separate;
	border: 5px solid rgb(175, 226, 105);
	font-size: 15px;
	color: #000000;
	font-family: "微软雅黑";
}

table.ownphoneorderlisttable tr>td {
	border-top: 1px dotted rgb(253, 215, 164);
	border-bottom: 1px dotted rgb(253, 215, 164);
	border-left: 0;
	border-right: 0;
	padding: 5px;
	text-align: center;
}

table.ownphoneorderlisttable thead>tr>th {
	background-color: rgb(175, 226, 105);
	font-weight: bold;
	color: rgb(18, 60, 135);
	font-family: 宋体;
	font-size: 25px;
	padding: 10px;
}

table.ownphoneorderlisttable thead>tr>td {
	border: 1px dotted rgb(253, 215, 164);
	white-space: nowrap;
	font-weight: bold;
	color: rgb(18, 60, 135);
	font-family: 微软雅黑;
	font-size: 20px;
}

table.ownphoneorderlisttable tbody>tr:hover{
	background-color: rgb(175, 226, 105);
}

table.ownphoneorderlisttable tfoot>tr>td {
	color: rgb(45, 112, 213);
	font-family: 微软雅黑;
	font-size: 15px;
}

table.ownphoneorderlisttable tfoot>tr>td a:link{
	color: rgb(45, 112, 213);
	text-decoration: none;
}

table.ownphoneorderlisttable tfoot>tr>td a:visited{
	color: rgb(45, 112, 213);
	text-decoration: none;
}

table.ownphoneorderlisttable tfoot>tr>td a:hover{
	color: rgb(45, 112, 213);
	background-color: rgb(89, 142, 222);
	color: #ffffff;
	text-decoration: none;
}

table.ownphoneorderlisttable #modifylink {
	color: rgb(90, 7, 5);
}

table.ownphoneorderlisttable #modifylink a:link {
	color: rgb(90, 7, 5);
}

table.ownphoneorderlisttable #modifylink a:visited {
	color: rgb(90, 7, 5);
}

table.ownphoneorderlisttable #modifylink a:hover {
	color: rgb(255, 0, 0);
}

table.ownphoneorderlisttable #separatedpage{
	background-color: rgb(89, 142, 222);
	color: #ffffff;
}

table.ownphoneorderlisttable #separatedpage a:link{
	background-color: rgb(89, 142, 222);
	color: #ffffff;
}

table.ownphoneorderlisttable #separatedpage a:visited{
	background-color: rgb(89, 142, 222);
	color: #ffffff;
}

table.ownphoneorderlisttable #separatedpage a:hover{
	background-color: rgb(89, 142, 222);
	color: #ffffff;
}

table.ownphoneorderlisttable #ownphoneorderquerytd{
	padding: 0;
}

table.ownphoneorderquerytable{
	border: 0;
	margin: 0;
	border-collapse: collapse;
	font-famili: 微软雅黑;
	font-weight: bold;
	font-size: 15px;
}

table.ownphoneorderquerytable tr>td{
	white-space: nowrap;
	color: white;
	background-color: rgb(124, 189, 36);
	padding: 5px;
	border-right: 1px solid white;
}

/* server statistic page */
.serverstatistictable {
	margin: 50px;
	border-collapse: separate;
	border: 5px solid rgb(175, 226, 105);
	font-size: 11px;
	text-align: center;
	color: #000000;
	font-family: "微软雅黑";
}

table.serverstatistictable tr>td {
	border: 1px dotted rgb(253, 215, 164);
	padding: 5px;
}

table.serverstatistictable thead>tr>th {
	background-color: rgb(175, 226, 105);
	font-weight: bold;
	color: rgb(18, 60, 135);
	font-family: 宋体;
	font-size: 20px;
}

table.serverstatistictable thead>tr>td {
	white-space: nowrap;
	font-weight: bold;
	color: rgb(18, 60, 135);
	font-family: 微软雅黑;
	font-size: 15px;
}
