<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<!-- Welcome-file Configuration -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Listener Configuration -->
	<listener>
		<listener-class>com.ownphone.content.listener.StatisticListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ownphone.content.listener.LoginSessionListener</listener-class>
	</listener>


	<!-- Filter Configuration -->
	<filter>
		<filter-name>BackStageDefenceFilter</filter-name>
		<filter-class>com.ownphone.content.filter.BackStageDefenceFilter</filter-class>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.ownphone.content.filter.characterEncodingFilter</filter-class>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>characterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ExceptionHandlerFilter</filter-name>
		<filter-class>com.ownphone.content.filter.ExceptionHandlerFilter</filter-class>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<!-- Filter-mapping Configuration -->
	<filter-mapping>
		<filter-name>BackStageDefenceFilter</filter-name>
		<url-pattern>/backstage/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExceptionHandlerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Session-config Configuration -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Error-page Configuration -->
	<error-page>
		<error-code>404</error-code>
		<location>/error_handler/handler_notfound.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_handler/handler_notfound.jsp</location>
	</error-page>
</web-app>

